pandas==1.5.3
scikit-learn==1.3.2
seaborn==0.13.2
deepchecks==0.18.1
matplotlib==3.8.3
matplotlib-inline==0.1.6
plotly==5.19.0
ppscore==1.3.0
json5==0.9.22
streamlit==1.31.1
streamlit-javascript==0.1.5
numpy==1.26.4
